<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Observable Counter</h2>
      <p>The Observable subscribe() result is here: setInterval {{count}}</p>
    </div>
    <div class="col-sm">
      <h2>Subject Counters</h2>
      <p>The Subject subscribe() result is here: #1 {{subjectCount}}</p>
      <p>The Subject subscribe() result is here: #2 {{subjectCount2}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>Observable Of: Avataras names are:</h3>
      <ul>
        <li *ngFor="let avatar of avataras">
          {{avatar.name}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>Observable From: Avataras names are:</h3>
      <ul>
        <li *ngFor="let avatar of avataras2">
          {{avatar.name}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h2>Bootstrap Modal</h2>
      <button type="button" class="btn btn-primary" (click)="openModal(template)">Click My modal</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h2>Dropdown with data from Observable</h2>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-info dropdown-toggle"
                aria-controls="dropdown-basic">
          Choose Avatar</button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li *ngFor="let avatar of avataras2" role="menuitem">
            <a class="dropdown-item" >{{avatar.name}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<!--Template for Modal-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
